{% extends "blog/template.html.twig" %}

{% block body %}
<main>
    <div class="container">
        <div class="row">
            {% include "@FOSUser/Profile/edit_content.html.twig" %}
        </div>
    </div>
</main>
{% endblock body %}
