{% extends "blog/template.html.twig" %}

{% block body %}
<main>
    <div class="container">
        {% include "@FOSUser/ChangePassword/change_password_content.html.twig" %}
    </div>
</main>
{% endblock body %}
